@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap);

body {
    font-family: "Poppins", sans-serif;
    scrollbar-color: #545f61 rgba(0, 0, 0, 0.78)
}

article {
    height: 500px;
    width: 500px;
    margin-top: 300px;
    margin-left: 700px;
    padding: 16px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: scroll;
}

article h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}



